<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="bash.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>

    <h3><a href="http://localhost:3000">Back Home</a></h3>
    <% for(each of data ) { %>
        <div class="program-widget" id="widget<%= i++ %>">
            <h2>
                <%= each.program %>
            </h2>
            <p>
                <%= each.question %>
            </p>
            <span class="material-symbols-outlined" id="copyButton" title="copy!">
                content_copy    
            </span>
            <div class="prgout" id="prgout">  
            <pre class="solution" id="solution"><code  id="textToCopy"><%= each.code %></code></pre>  
            <div class="output">
            <p>Output:</p>
            <pre ><code><%= each.output %></code></pre>
            </div> </div>
            <div class="Summary">
            <p >Conceptual Summary:</p>
            <p>
                <%= each.conceptual_summary %>
            </p></div>
        <!-- <h2 class="IDE">  <a class="IDE" target="_blank"  style="text-align: center;"  href="https://www.jdoodle.com/test-bash-shell-script-online">Practice on IDE</a></h2> -->
        </div>
    
        <% } %>

        <script>
            // Create a reusable function for copying the content of a widget
                function copyText(widgetId) {
                    const widget = document.getElementById(widgetId);
                    const textToCopy = widget.querySelector('.prgout .solution code');
                    const range = document.createRange();
                    const selection = window.getSelection();

                    range.selectNodeContents(textToCopy);
                    selection.removeAllRanges();
                    selection.addRange(range);

                    try {
                        document.execCommand('copy');
                        alert('Text copied to clipboard');
                    } catch (err) {
                        console.error('Unable to copy text: ', err);
                    }

                    selection.removeAllRanges();
                }

                // Add event listeners for each widget's copy button
                const copyButtons = document.querySelectorAll('.program-widget #copyButton');
                copyButtons.forEach((button, index) => {
                    button.addEventListener('click', () => {
                        copyText(`widget${index + 1}`);
                    });
                });


        </script>
</body>


</html>